<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Update</title>
    <th:block th:replace="/ep/layout/head :: head"/>
</head>
<body class="   footer-offset">
<main id="content" role="main" class="main">
    <div class="row justify-content-lg-center mt-5">

        <div class="col-lg-8">
            <form th:object="${student}" method="post">
                <div id="addUserStepFormContent">
                    <div id="addUserStepProfile" class="card card-lg active">
                        <div class="card-body">
                            <h1>Edit student</h1>
                            <div class="row form-group">
                                <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Full name <i
                                        class="tio-help-outlined text-body ml-1" data-toggle="tooltip"
                                        data-placement="top"
                                        title=""
                                        data-original-title="Displayed on public forums, such as Front."></i></label>

                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm-down-break">
                                        <input type="text" class="form-control" name="firstName" id="firstNameLabel"
                                               placeholder="Clarice" aria-label="Clarice" th:field="*{fullName}">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="emailLabel" class="col-sm-3 col-form-label input-label">Email</label>

                                <div class="col-sm-9">
                                    <input type="email" class="form-control" name="email" id="emailLabel"
                                           placeholder="clarice@example.com" aria-label="clarice@example.com"
                                           th:field="*{email}">
                                </div>
                            </div>
                            <div class="js-add-field row form-group" data-hs-add-field-options="{
                            &quot;template&quot;: &quot;#addPhoneFieldTemplate&quot;,
                            &quot;container&quot;: &quot;#addPhoneFieldContainer&quot;,
                            &quot;defaultCreated&quot;: 0
                          }" th:object="${student}">
                                <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Phone <span
                                        class="input-label-secondary">(Optional)</span></label>

                                <div class="col-sm-9">
                                    <div class="input-group input-group-sm-down-break align-items-center">
                                        <input th:field="*{phone}" type="text" class="js-masked-input form-control"
                                               name="phone" id="phoneLabel"
                                               placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx"
                                               data-hs-mask-options="{
                                   &quot;template&quot;: &quot;+0(000)000-00-00&quot;
                                 }" maxlength="16">
                                        <div class="input-group-append">
                                        </div>
                                    </div>
                                </div>
                                <div id="addPhoneFieldContainer"></div>
                            </div>
                            <div class="row form-group">
                                <label for="departmentLabel" class="col-sm-3 col-form-label input-label">Address</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="department" id="departmentLabel"
                                           placeholder="Address" aria-label="Human resources" th:field="*{address}">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="organizationLabel"
                                       class="col-sm-3 col-form-label input-label">Classroom</label>
                                <div class="col-sm-9">
                                    <select th:field="*{classroom}" id="organizationLabel" class="form-control">
                                        <option value="KinhDoanh" selected>Kinh Doanh</option>
                                        <option value="VanHanh">Vận Hành</option>
                                        <option value="Bom">Bom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="departmentLabel" class="col-sm-3 col-form-label input-label">Date of
                                    birth</label>
                                <span class="col-sm-9">
                  <input type="text" class="form-control" th:field="*{date}">
                </span>
                            </div>

                            <div class="card-footer d-flex justify-content-end align-items-center">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
</main>
<th:block th:replace="/ep/layout/script :: script"/>
</body>
</html>
