<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>List</title>
    <th:block th:replace="/ep/layout/head :: head"/>
</head>

<body class="   footer-offset">
<main id="content" role="main" class="main">
    <div class="content container-fluid">

        <th:block th:replace="/ep/layout/filter :: filter"/>

        <div class="table-responsive datatable-custom">
            <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                <div id="datatable_filter"
                     class="dataTables_filter"><label>Search:<input type="search" class="" placeholder=""
                                                                    aria-controls="datatable"></label></div>
                <table id="datatable"
                       class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table dataTable no-footer"
                       data-hs-datatables-options="{
                     &quot;columnDefs&quot;: [{
                        &quot;targets&quot;: [0, 7],
                        &quot;orderable&quot;: false
                      }],
                     &quot;order&quot;: [],
                     &quot;info&quot;: {
                       &quot;totalQty&quot;: &quot;#datatableWithPaginationInfoTotalQty&quot;
                     },
                     &quot;search&quot;: &quot;#datatableSearch&quot;,
                     &quot;entries&quot;: &quot;#datatableEntries&quot;,
                     &quot;pageLength&quot;: 15,
                     &quot;isResponsive&quot;: false,
                     &quot;isShowPaging&quot;: false,
                     &quot;pagination&quot;: &quot;datatablePagination&quot;
                   }" role="grid" aria-describedby="datatable_info">
                    <thead class="thead-light">
                    <tr role="row">
                        <th class="table-column-pl-0" tabindex="0" aria-controls="datatable" rowspan="1"
                            colspan="1"  style="width: 51.513px;">
                            #
                        </th>
                        <th class="table-column-pl-0" tabindex="0" aria-controls="datatable" rowspan="1"
                            colspan="1"  style="width: 151.513px;">
                            Name
                        </th>
                        <th  tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                             style="width: 159.45px;">Email
                        </th>
                        <th  tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                             style="width: 143.95px;">Address
                        </th>
                        <th  tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                             style="width: 117.75px;">Date of birth
                        </th>
                        <th  tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                            style="width: 158.438px;">
                            Phone
                        </th>
                        <th  tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                             style="width: 158.438px;">
                            Classroom
                        </th>
                        <th  rowspan="1" colspan="1" aria-label=""
                            style="width: 183.488px;">Action</th>
                    </tr>
                    </thead>

                    <tbody>


                    <tr role="row" class="odd" th:each="student : ${students}">

                        <td>
                            <span th:text="${student.id}"></span>
                        </td>
                        <td>
                            <div class="ml-3">
                                <a class="d-flex">
                                    <div>
                        <span th:text="${student.fullName}"></span>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <span class="d-block h5 mb-0" th:text="${student.email}"></span>
                        </td>
                        <td>
                            <span th:text="${student.address}"></span>
                        </td>
                        <td>
                            <span class="d-block font-size-sm text-body" th:text="${student.date}"></span>
                        </td>
                        <td th:text="${student.phone}"></td>
                        <td th:text="${student.classroom}"></td>
                        <td>
                            <div id="editUserPopover">
                                <a class="btn btn-sm btn-white" th:href="@{/edit/__${student.id}__}">
                                    <i class="tio-edit"></i> Edit
                                </a>
                            </div>
                            <div id="deleteUserPopover">
                                <a class="btn btn-sm btn-white" th:href="@{/delete/__${student.id}__}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
</svg></i></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</main>
<th:block th:replace="/ep/layout/script :: script"/>
</body>
</html>
