<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="filter">
  <div class="page-header">
    <div class="row align-items-end">
      <div class="col-sm-auto">
        <a class="btn btn-primary" href="/create">
          <i class="tio-user-add mr-1"></i> Add student
        </a>
      </div>
    </div>
    <!-- End Row -->
  </div>
  <div class="card">
    <!-- Header -->
    <div class="card-header">
      <div class="row justify-content-between align-items-center flex-grow-1">
        <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
          <form>
            <!-- Search -->
            <div class="input-group input-group-merge input-group-flush">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tio-search"></i>
                </div>
              </div>
              <input id="datatableSearch" type="search" class="form-control" placeholder="Search All" aria-label="Search users">
            </div>

          </form>
        </div>

        <div class="col-sm-6">
          <div class="d-sm-flex justify-content-sm-end align-items-sm-center">
          </div>
        </div>
      </div>

    </div>
  </div>

</th:block>